<!-- <body class="index-page"> -->


<!-- Hero Section -->
<section id="hero" class="hero section" style="padding: 0px;">

  <div class="container" data-aos="fade-up" data-aos-delay="300">
    

    <div class="row align-items-start">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="hero-content">
          <h1 data-aos="fade-up" data-aos-delay="200">

            <span class="accent-text">FULL STACK .NET DEVELOPER</span>
          </h1>
          <p class="hero-description text-content-justify" data-aos="fade-up" data-aos-delay="500">
            Full Stack .NET Developer with 5+ years of experience building scalable enterprise applications and RESTful APIs using C#, .NET Core, and ASP.NET MVC, AWS/Azure. Strong expertise across the full SDLC, including requirements analysis, system design, database modeling, and distributed systems development, with solid application of OOP, SOLID, DDD, Dependency Injection, CQRS, SPA and Clean architecture, and TDD. Proficient in Angular, TypeScript, and jQuery, for creating responsive, intuitive user interfaces. Experienced in Agile/Scrum practices and recognized for effective collaboration, cross-functional communication, and delivering high-quality, maintainable software solutions.
          </p>
          <div class="hero-actions" data-aos="fade-up" data-aos-delay="400">
            <a href="#" target="_blank" class="btn-primary"> <i class="bi bi bi-file-earmark-text-fill"></i> Resume</a>

            <a href="https://www.linkedin.com/in/phearun-phin/" target="_blank" class="btn-primary"><i class="bi bi-linkedin"></i> LinkedIn</a>
            <a href="https://github.com/phearun88"  target="_blank" class="btn-primary"><i class="bi bi-github"></i> GitHub</a>



          </div>
          <div class="hero-stats" data-aos="fade-up" data-aos-delay="500">
            <div class="stat-item">
              <span class="stat-number">5+</span>
              <span class="stat-label">Years Experience</span>
            </div>
            <div class="stat-item">
              <span class="stat-number">10+</span>
              <span class="stat-label">Projects Completed</span>
            </div>


          </div>
        </div>
      </div>

      <div class="col-lg-4 order-1 order-lg-2">
        <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
          <div class="image-wrapper">
            <img src="assets/img/profile/phearun01.png" alt="Creative Designer Portfolio" class="img-fluid main-image">
            <div class="floating-card card-1" data-aos="fade-up" data-aos-delay="600">
              <i class="bi bi-lightning"></i>
              <span>Creative Ideas</span>

            </div>
            <div class="floating-card card-2" data-aos="fade-up" data-aos-delay="700">
              <i class="bi bi-palette"></i>
              <span>UI/UX Design</span>
            </div>
            <div class="floating-card card-3" data-aos="fade-up" data-aos-delay="800">

              <i class="bi bi-code-square"></i>
              <span>Development</span>
            </div>
          </div>
        </div>

        <span class="skills">
          <span class="skills-sidebar">
            <div class="technologies-section section-title" data-aos="fade-up" data-aos-delay="400">
              <h2 class="tech-title">Primary Technologies</h2>
              <div class="tech-stack">

                 <div class="tech-item">
                  <i class="bi bi-file-code-fill"></i>
                  <span>C#</span>
                </div>
                <div class="tech-item">
                  <i class="bi bi-diagram-3"></i>
                  <span>ASP.NET Core</span>
                </div>


                 <div class="tech-item">
                  <i class="bi bi-front"></i>
                  <span>Angular</span>
                </div>
                <div class="tech-item">
                  <i class="bi bi-typescript"></i>
                  <span>TypeScript</span>
                </div>
                <div class="tech-item">
                  <i class="bi bi-server"></i>
                  <span>SQL Server</span>
                </div>
                <div class="tech-item">
                  <i class="bi bi-cloud-fill"></i>
                  <span>Azure DevOps</span>
                </div>
                
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>

  </div>

</section><!-- /Hero Section -->


<footer id="footer" class="footer light-background">
  <div class="container">
    <div class="container">
      <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">Phearun Phin</strong> <span>All Rights Reserved</span>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
</footer>