 <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
        
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
            <div class="service-item">
              <div class="service-icon">
                   <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>Point of Sale</a></h3>
                <p style="text-align: justify;">Designed and developed a scalable Point-of-Sale (POS) system using microservices architecture to manage inventory, customer orders, and supplier transactions. Implemented high-performance APIs, optimized database queries, and applied clean architecture principles to ensure reliability, efficiency, and seamless integration with warehouse operations.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="250">
            <div class="service-item">
              <div class="service-icon">
                <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>HR System</a></h3>
                <p style="text-align: justify;">Developed a comprehensive HR system to support division management, payroll processing, and employee payment scheduling by leveraging clean architecture, secure APIs, and a responsive Angular front end. Improved data accuracy, performance, and maintainability through validation, automated testing, and performance optimization.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="300">
            <div class="service-item">
              <div class="service-icon">
                   <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>XPharm&XPay</a></h3>
                <p>XPHARM&XPay issues a drug purchase card you can pay easily and safely through the Internet It's the next generation drug payment card system.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="350">
            <div class="service-item">
              <div class="service-icon">
                  <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>WeBank</a></h3>
                <p>WeBank is an electronic finance services system designed to support secure digital banking and financial transactions. The system provides core financial functionalities such as user account management, electronic payments, transaction processing, and financial data management through secure, scalable APIs. The project focuses on reliability, data security, and high performance to ensure safe and efficient electronic financial operations.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="350">
            <div class="service-item">
              <div class="service-icon">
                   <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a href="https://webill365.com/kh">WeBill365</a></h3>
                <p>A platform where billers can collect their payments from the customers through virtual accounts.</p>
                <a href="https://webill365.com/kh" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>


          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="350">
            <div class="service-item">
              <div class="service-icon">
                 <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>EMORE</a></h3>
                <p>Integrated management for each payment method such as cash, bankbook deposit, and credit card (OFF) payment are possible.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

<div class="col-lg-6" data-aos="fade-left" data-aos-delay="350">
            <div class="service-item">
              <div class="service-icon">
                <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>FinProduct</a></h3>
                <p>FinProduct is a financial product information system designed to manage and deliver accurate details about financial products, including features, pricing, eligibility, and terms. The system enables structured data management and secure access to product information through scalable APIs, ensuring consistency, reliability, and easy integration with other financial services platforms.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>


          
<div class="col-lg-6" data-aos="fade-left" data-aos-delay="350">
            <div class="service-item">
              <div class="service-icon">
                  <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a>KhmerFM</a></h3>
                <p>KhmerFM is an application designed to serve the Cambodian people who like to listen. And also collects the best voices and understands the most who can share new knowledge and entertainment to the people of Cambodia.</p>
                <a href="#" class="read-more">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>


        </div>

      </div>

    </section><!-- /Services Section -->