<section id="resume" class="resume section">
   <!-- Resume Section -->
      <!-- Section Title -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-start">
          <div class="col-lg-12" data-aos="fade-right" data-aos-delay="200">
            <div class="professional-journey">
              <div class="section-intro">
                <div class="icon-wrapper">
                  <i class="bi bi-briefcase-fill"></i>
                </div>
                <h2>Professional Experience</h2>
              </div>
              <div class="experience-timeline">
                <div class="timeline-item" data-aos="fade-up" data-aos-delay="300">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <div class="position-meta">
                      <span class="timeline-year">2025 - Present</span>
                    </div>
                    <h3>Full-Stack .NET Developer</h3>
                    <h4>SIMPAZ Corporation</h4>
                    <p>Built POS and HR systems within a Scrum environment, performing requirements analysis, code reviews, and quality improvements to ensure robust system functionality and adherence to best practices.</p>
                    <ul>
                      <li class="">Applying SOLID Principle, Object Oriented Programming (OOP) concepts and design patterns to achieve code clean and supporting HR system Division Module, Payroll processing and Employee payment scheduling.</li>

<li class="">Designed and maintained scalable, secure RESTful APIs to support the Division module within the HR system and improving data processing efficiency and ensuring reliable communication across departments.</li>

<li class="">Designed and developed an Inventory Microservice using Domain-Driven Design (DDD), Dependency Injection (DI), the CQRS pattern, Entity Framework for data updates, and Dapper for high-performance querying. This architecture improved the scalability, performance, and reliability of POS and Warehouse systems by streamlining customer order processing, supplier order management, and overall inventory control.</li>

<li class="">Created a responsive Angular SPA with end-to-end HR modules including payroll processing, and employee payment scheduling to streamline HR operations and deliver a seamless cross-device user experience.</li>

<li class="">Developed comprehensive unit tests across all backend layers using xUnit, Moq, and in-memory databases to consistently achieve 80% test coverage. This ensured high-quality, production-ready releases and maintainable code.</li>

<li class="">Created custom data-validation error classes using FluentValidation for the HR system, resulting in cleaner code structure, improved validation accuracy, and easier long-term maintenance.</li>

<li class="">Refactored slow-loading pages by implementing caching, optimizing slow SQL queries (via SQL Query Analyzer), and adding pagination to load only needed data, reducing page load times and improving overall performance by 35%.</li>

<li class="">Integrated Azure DevOps for automated CI/CD pipelines, incorporating Git-based version control and structured code reviews to follow industry best practices resulting in a 50% reduction in deployment time and more reliable, efficient releases.</li>

<li class="">Created feature documentation defining logic, use-case flows, guiding criteria, and a single source of truth for implementation.</li>

<li class="">Practiced Agile Scrum delivery through sprint-based development, daily standup meetings, and collaborative pair programming sessions to maintain team alignment and code quality.</li>

                    </ul>
                    <div class="key-achievements">
                       <span class="achievement-tag">C#</span>
                      <span class="achievement-tag">ASP.NET Core</span>
                      <span class="achievement-tag">Domain Driven Design</span>
                      <span class="achievement-tag">Angular</span>
                      <span class="achievement-tag">SQL Server</span>
                    </div>
                  </div>
                </div>

                <div class="timeline-item" data-aos="fade-up" data-aos-delay="350">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <div class="position-meta">
                      <span class="timeline-year">2020 - 2023</span>
                    </div>
                    <h3>.NET Developer</h3>
                    <h4>KOSIGN Investment Co., Ltd</h4>
                    <p>Develop FinProduct, WeBank, WeBilling, and XPharm&XPay projects. Worked both independently and with team to design, analyze, develop and support software.</p>
                  <ul>
                      <li class="">Collaborated with project managers to gather and analyze requirements, providing regular updates following Agile methodologies.</li>

<li class="">Implemented JWT-based authentication to strengthen system security, and designed and built RESTful APIs to integrate exam results with reporting tools, reducing manual data handling by 50%.</li>

<li class="">Built a responsive Angular SPA (TypeScript, Bootstrap) that increased user satisfaction by 35% and cut support tickets by 25%.</li>

<li class="">Designed application architecture using ASP.NET Core on the backend and Angular on the frontend, meeting 100% requirement criteria.</li>

<li class="">Improved database performance by 35% through SQL Server optimization, including query tuning, indexing, and execution plan analysis.</li>

<li class="">Designed and implemented ETL pipelines with SQL Server Integration Services (SSIS) to automate reporting and cut manual work by 45%.</li>

<li class="">Conducted comprehensive unit tests for back-end components (xUnit, Moq) and front-end components (Jasmine, Karma), enhancing overall system reliability.</li>

<li class="">Developed and optimized SQL stored procedures to streamline data retrieval and reduce query times, improving overall application responsiveness.</li>

<li class="">Migrated and scaled workloads on AWS (S3, EC2) to improve system performance and decrease downtime by 25%.</li>

<li class="">Implemented Jenkins-based CI/CD pipelines to automate deployments, reducing manual effort by 45% and cutting deployment errors by 55%.</li>

<li class="">Prepared training manuals and supporting documentation to ensure long-term system maintainability.</li>

<li class="">Conducted rigorous code reviews, providing clear, constructive feedback to enforce coding standards and improve code quality.</li>

                    </ul>
                    <div class="key-achievements">
                      <span class="achievement-tag">C#</span>
                      <span class="achievement-tag">ASP.NET Core</span>
                      <span class="achievement-tag">AWS</span>
                      <span class="achievement-tag">Angular</span>
                      <span class="achievement-tag">SQL Server</span>
                    </div>
                  </div>
                </div>

                <div class="timeline-item" data-aos="fade-up" data-aos-delay="400">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <div class="position-meta">
                      <span class="timeline-year">2017 - 2020</span>
                    </div>
                    <h3>Software Engineer</h3>
                    <h4>KOHTHMEY Technology Co., Ltd</h4>
                    <p>Develop Cost Control System. Implemented software solutions based on applications requirements. Contributed to requirement gathering and analysis, along with programming and testing of developed applications.</p>
                   <ul>
                      <li class="">Analyzed project proposals and coordinated with team leader to plan system design.</li>

<li class="">Met with customers to understand project requirements and deliver progress reports.</li>

<li class="">Implemented Scrum techniques such as sprints, testing, product backlog, and quality control.</li>

<li class="">Developed customized modules and updated new features.</li>

<li class="">Prepared training manuals and supporting documentation.</li>

<li class="">Implemented unit testing, debugging, and source control.</li>

                   </ul>
                    <div class="key-achievements">
                      <span class="achievement-tag">C#</span>
                      <span class="achievement-tag">ASP.NET Core</span>
                      <span class="achievement-tag">Angular</span>
                      <span class="achievement-tag">SQL Server</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Resume Section -->
