   <!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Achievements</h2>
       </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

       

          <div class="row gy-5 portfolio-container isotope-container" data-aos="fade-up" data-aos-delay="300">

              <div class="col-lg-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/kosignAward.jpg" class="img-fluid" alt="Digital Platform" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/kosignAward.jpg" class="glightbox action-btn preview-btn" title="Digital Workspace"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div class="portfolio-meta">
                    <span class="portfolio-category">Kosign Award</span>
                    <span class="portfolio-year">2022</span>
                  </div>
                  
                  <p class="portfolio-description">Honored with the Outstanding Employee Award at KOSIGN in 2021, recognizing my dedication, performance, and impact within the organization.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/PMP.png" class="img-fluid" alt="Digital Platform" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/PMP.png" class="glightbox action-btn preview-btn" title="Digital Workspace"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div class="portfolio-meta">
                    <span class="portfolio-category">Project Management Professional</span>
                    <span class="portfolio-year">2025</span>
                  </div>
                  
                  <p class="portfolio-description">A globally recognized certification that validates expertise in leading and managing projects using standardized best practices, including planning, execution, risk management, and stakeholder communication across traditional and Agile environments.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

              <div class="col-lg-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/dbms.png" class="img-fluid" alt="Digital Platform" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/dbms.png" class="glightbox action-btn preview-btn" title="Digital Workspace"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div class="portfolio-meta">
                    <span class="portfolio-category">Advance Database</span>
                    <span class="portfolio-year">2025</span>
                  </div>
                  <p class="portfolio-description">In-depth study and practical application of advanced database concepts, including complex SQL querying, performance tuning, indexing strategies, transaction management, normalization, and optimization of large-scale relational databases.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->


            <div class="col-lg-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/PMP.png" class="img-fluid" alt="Digital Platform" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/PMP.png" class="glightbox action-btn preview-btn" title="Digital Workspace"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div class="portfolio-meta">
                    <span class="portfolio-category">Project Management Professional</span>
                    <span class="portfolio-year">2025</span>
                  </div>
                  
                  <p class="portfolio-description">A globally recognized certification that validates expertise in leading and managing projects using standardized best practices, including planning, execution, risk management, and stakeholder communication across traditional and Agile environments.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/Network.png" class="img-fluid" alt="Digital Platform" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/Network.png" class="glightbox action-btn preview-btn" title="Digital Workspace"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div class="portfolio-meta">
                    <span class="portfolio-category">CompTIA Network</span>
                    <span class="portfolio-year">2025</span>
                  </div>
                  
                  <p class="portfolio-description">A vendor-neutral certification that validates essential networking knowledge, including network setup, configuration, security, and troubleshooting for wired and wireless networks.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/Cloud.png" class="img-fluid" alt="Digital Platform" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/Cloud.png" class="glightbox action-btn preview-btn" title="Digital Workspace"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div class="portfolio-meta">
                    <span class="portfolio-category">CompTIA Cloud Essentials</span>
                    <span class="portfolio-year">2024</span>
                  </div>
                  <p class="portfolio-description">A vendor-neutral certification that explains core cloud computing concepts, including cloud service models, deployment types, cost management, security, and business impact.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->


            

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
